<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/SVG/twitter.svg') }}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/mainPage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/constant.css') }}">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><img src="{{ url_for('static', filename='Images/SVG/twitter.svg') }}" alt="" style="width: 50px; height: auto; margin-bottom: 30px;"></li>
                <li><a href="{{ url_for('account') }}">Profile</a></li>
                <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">logout</a></li>
            </ul>
        </div>
        <div class="posts">
            {% block pageContent %}
            {% endblock %}
        </div>
        <div class="info">
            <div class="notice">
                <h1 class="header">Hey there!</h1>
                <p class="meta">It's good to see you back!</p>
                <p>Let's spread some love ❤️</p>
                <p>Hope you'll have good experience here. Please share your feedback. It helps us to improve. Happy Tweeting! 😁 </p>
                <br>
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        function chngimg() {
            var img = document.getElementById('imgplus').src;
            if (img.indexOf("{{ url_for('static', filename='Images/SVG/bookmark.svg') }}")!=-1) {
                document.getElementById('imgplus').src  = "{{ url_for('static', filename='Images/SVG/bookmark_save.svg') }}";
            }
             else {
               document.getElementById('imgplus').src = "{{ url_for('static', filename='Images/SVG/bookmark.svg') }}";
           }

        }
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

</body>
</html>