<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/twitter.svg') }}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/mainPage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/tweet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/constant.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/modal.css') }}">


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><img src="{{ url_for('static', filename='Images/twitter.svg') }}" alt="" style="width: 50px; height: auto; margin-bottom: 30px;"></li>
                <li><a href="{{ url_for('account') }}">Profile</a></li>
                <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">logout</a></li>
            </ul>
        </div>
        <div class="posts">
            {% block pageContent %}
            {% endblock %}
        </div>
        <div class="info">
            <div class="notice">
                <h1 class="header">Hey there!</h1>
                <p class="meta">It's good to see you back!</p>
                <p>Let's spread some love ❤️</p>
                <p>Hope you'll have good experience here. Please share your feedback. It helps us to improve. Happy Tweeting! 😁 </p>
                <br>
            </div>
        </div>
    </div>
</body>
</html>