{% extends 'base.html' %}

{% block pageContent %}
<div style="position: relative;">
    <img src="{{ background }}" alt="" class="bg_img">
    <div class="profile">
        <div class="profile_info">
            <img src="{{ profile }}" alt="" class="profile_img">
            <h2>@{{ user.username }}</h2>
            <p class="light">{{ user.email }}</p>
            <div style="display: flex; color: gray;">
                <p>Joined on {{ user.date }}</p>
            </div>
            <!-- Following Modal Button -->
            <button id="followingBtn" style="background: none; font-weight: bold; font-size: 17px; color: dodgerblue; border: none; padding: 0px 4px;">Following</button>
            <!-- Followers Modal Button -->
            <button id="followersBtn" style="background: none; font-weight: bold; font-size: 17px; color: dodgerblue; border: none; padding: 0px 4px;">Followers</button>

                        <!-- Following Modal -->
            <div id="followingModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <span class="following-close">&times;</span>
                  <h2>Following</h2>
                </div>
                <div class="modal-body">
                    {% for user in following_users.items %}
                        <h5><a href="{{ url_for('viewProfile',account_id=user.id) }}" style="color: #00ACEE">@{{ user.username }}</a></h5>
                    {% endfor %}
                </div>
              </div>
            </div>

            <!-- Followers Modal -->
            <div id="followersModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <span class="followers-close">&times;</span>
                  <h2>Followers</h2>
                </div>
                <div class="modal-body">
                    {% for user in followers_user.items %}
                        <h5><a href="{{ url_for('viewProfile',account_id=user.id) }}" style="color: #00ACEE">@{{ user.username }}</a></h5>
                    {% endfor %}
                </div>
              </div>
            </div>
        </div>

        <div>
            <form action="{{ url_for('update_follow',account_id=user.id) }}" method="post">
                <button type="submit" class="submit_follow">{{ follow_status }}</button>
            </form>
        </div>
    </div>
</div>

<div class="timeline" style="margin-top:550px;">
    <div class="seperator"></div>
    {% for post in timeline.items %}

        <div class="tweet">
            <div class="userTweet">
                <div class="meta_tweet">
                    <img src="{{ url_for('static', filename='Images/Users/profile_pics/' + post.author.image_file) }}" style="width:50px; height: 50px; border-radius: 50%; margin-right: 10px; margin-top: 20px;" alt="">
                    <div>
                        <h3 style="margin-bottom: 0px;"><a class="username" href="{{ url_for('viewProfile',account_id=post.author.id) }}"> @{{ post.author.username }}</a></h3>
                        <p style="font-size: 12px;"><span style="font-weight: bold; color: dodgerblue;">Posted on </span>{{ post.stamp }}</p>
                    </div>
                </div>
                <p style="margin-top: 5px;">{{ post.tweet }}</p>
            </div>
        </div>

    {% endfor %}

    <div class="pagination">
        {% for page_num in timeline.iter_pages(left_edge=2,right_edge=2,left_current=1,right_current=2) %}
            {% if page_num %}
                {% if timeline.page == page_num %}
                    <a class="active_page" href="{{ url_for('viewProfile', account_id=user.id, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class='pages' href="{{ url_for('viewProfile', account_id=user.id, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>

</div>

<script>
    //Following
var followingModal = document.getElementById("followingModal");
var followingBtn = document.getElementById("followingBtn");

var followingspan = document.getElementsByClassName("following-close")[0];
followingBtn.onclick = function() {
  followingModal.style.display = "block";
}
followingspan.onclick = function() {
  followingModal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == followingModal) {
    followingModal.style.display = "none";
  }
}

    //Followers
var followersModal = document.getElementById("followersModal");
var followersBtn = document.getElementById("followersBtn");

var followersspan = document.getElementsByClassName("followers-close")[0];
followersBtn.onclick = function() {
  followersModal.style.display = "block";
}
followersspan.onclick = function() {
  followersModal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == followersModal) {
    followersModal.style.display = "none";
  }
}
</script>

{% endblock %}